<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Form Wizard" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="Identity" form="vm.personalInfoForm">
                        <p>{{a.identity.me}}</p>
                    </ba-wizard-step>
                    <ba-wizard-step title="Notaries" form="vm.productInfoForm">
                        <p ng-repeat="notary in a.notaries">
                            {{notary}}
                        </p>
                    </ba-wizard-step>
                    <ba-wizard-step title="Peers"  form="vm.addressForm">
                        <P ng-repeat="peer in a.peers">
                            {{peer}}
                        </P>

                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
    </div>

</div>