<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label style="color: white" >Rows on page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table" st-table="smartTableData">
    <thead>
    <tr class="sortable">
      <th st-sort="firstName" style="color: white">Issuer/Currency</th>
      <th st-sort="lastName" style="color: white">Local currency</th>
      <th st-sort="username" style="color: white">USD Equiv</th>
    </tr>
    <tr>
      <th><input st-search="firstName" placeholder="Search Issuer/Currency" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="lastName" placeholder="Search Local currency" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="username" placeholder="Search USD Equiv" class="input-sm form-control search-input"
                 type="search"/></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in smartTableData">
      <td style="color: white">{{item.inputi}}</td>
      <td style="color: white">{{item.outputi}}</td>
      <td style="color: white">{{item.outputi}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>