<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Rows on page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table" st-table="smartTableData">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">Transaction ID</th>
      <th st-sort="firstName">Input</th>
      <th st-sort="lastName">Output</th>
      <th st-sort="username">Input party</th>
      <th st-sort="email">Output party</th>
      <th st-sort="age">Commande type</th>
      <th st-sort="total">Total value</th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="firstName" placeholder="Search Input" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="lastName" placeholder="Search Output" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="username" placeholder="Search Input party" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="email" placeholder="Search Output party" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="age" placeholder="Search Commande type" class="input-sm form-control search-input" type="search"/>
      <th><input st-search="total" placeholder="Search Total value" class="input-sm form-control search-input" type="search"/>
      </th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in smartTableData">
      <td class="table-id">{{item.id}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.username}}</td>
      <td>{{item.email}}</td>
      <td>{{item.age}}</td>
      <td>{{item.total}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>